
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@300;400;700&display=swap');

@font-face {
    font-family:'IDroid';
    src: url(fontes/IDroid.otf) format('opentype'); 
    font-weight: normal;
}
:root{
    
    --white:#fff;
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonteBebas:'Bebas Neue', cursive;
    --fonteIdroid:'IDroid', sans-serif;
    --fonteArial: Arial, Helvetica, sans-serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonteArial);
 
}

body{
    background-color:var(--cor0);
    
    
    
}
header{
   min-height: 238px;
   background: linear-gradient(to bottom, var(--cor3), var(--cor5));
   text-align: center; 
}

header h1{
    padding-top: 40px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: normal;
    letter-spacing: 0.45px;
    color: var(--white);
    font-family: var(--fonteBebas);
    text-align: center;
    text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.505); 
}

header p{
    font-size:1.2em;
    color: var(--white);
    margin: auto;
    padding:0px 10px 0px 10px;
    text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.505);
    font-family: var(--fonteArial);
    max-width: 620px;

}

nav{
    padding: 10px;
    background-color: var(--cor5);
    box-shadow:0px 4px 2px rgba(0, 0, 0, 0.496);
}

nav a{
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    padding: 10px;
    transition: all 300ms ease;
}

nav a:hover{
    border-radius: 4px;
    color: var(--cor5);
    background: var(--cor3);
    
}
.falecnc:hover{
    border-radius: 4px;
    color: var(--cor5);
    background: var(--cor3);
    height: 12;
    
}



main{
    background-color: var(--white);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.526);
    border-radius: 0px 0px 10px 10px;

}
 
main h1{
    font-family: var(--fonteIdroid);
    color: var(--cor5);
    font-weight: normal;
    padding-bottom: 22px;
}

main h2{
    font-family: var(--fonteIdroid);
    font-weight: normal;
    font-size: 1.3em;
    color: var(--cor4);
    background: linear-gradient(to right, var(--cor1), transparent);
    margin-bottom: 22px;
}

main p {
    text-align: justify;
    text-indent: 30px;
    line-height: 34px;
    padding-bottom: 14px;
}

strong{
    color: var(--cor4);
    font-weight: 600;
}

main a{
    font-size: 1.2em;
    background-color:var(--cor1);
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    padding:  2px 5px;
}

main a::after{
    content: '\00A0\1F517';
    
}



img{
    width: 100%;

}

.imgbugdroid{
    max-width:350px;
    display: block;
    margin: 0 auto;

}


.video{
   background-color: var(--cor5);
   position: relative;
   padding-bottom: 57%;
   margin: 0px -20px 30px -20px;
   

}

.video iframe{
    position: absolute;
    width:90%;
    height:90%;
    top: 5%;
    left: 5%;
    
}


aside{
    background-color: var(--cor1);
    padding: 10px;
    box-shadow: 3px 3px 8px rgb(0 0 0 / 28%);
    border-radius: 10px;
}

aside h3{
    background-color: var(--cor4);
    color: #fff;
    padding: 10px;
    margin: -10px -10px  0px  -10px;
    border-radius: 10px 10px 0px 0px;
}

aside p{
    margin:15px  0px;
    text-align: justify;
    text-indent: 30px;
}

aside ul{
    list-style: inside;
    list-style-type: '\2714\00A0\00A0';
    columns:2;
}

article p{
    margin:15px  0px;
    text-align: justify;
    text-indent: 30px;

}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}


footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    color: white;
    font-weight: bold;
    text-decoration: underline 2px solid var(--cor2);
}



